*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}
header .conteiner{
    display: flex;
}

body >header{
    background-color: rgb(43, 87, 233);
    padding: 16px 0;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
}


header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 16px;
}

header li a{
    color: #ffffff;
    text-decoration: none;
    
}


.conteiner{
    width: 1366px;
    margin: 0 auto ;
}

.articles{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.articles article img{
  /*  height: 188px;*/
  width: 100%;

}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(229, 255, 0);
    color: rgb(0, 0, 0);
    padding: 8;
    display: inline-block;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}
.articles article h3{
    font-size: 24px;
}

section h2{
    font-size:  32px;
}

#sports {
    background-color: rgb(130, 204, 148);
}

#economoy {
    background-color: rgb(220, 235, 20);
}

#sports .articles article a{
    background-color: rgb(219, 187, 1);
}

#economoy .articles article a{
    background-color: rgb(63, 219, 1);
}

#intelligence{
    background-color: rgba(222, 135, 139, 0.555);
}

#intelligence .articles article a{
    background-color:aquamarine
}

#Solarstorms{
    background-color: rgba(178, 34, 34, 0.753);
}

#Solarstorms .articles article a{
    background-color: deepskyblue;
}

section h2 {
    font-size: 38px;
    text-decoration: underline;
    color:rgb(0, 0, 0)

}

.conteiner{
    text-decoration: underline;
    
    
}